html {
    scroll-padding: 60px;
}

#header {
    
    box-shadow: 0px 0px 3px rgb(184, 184, 184);
    z-index: 99999999999;

}


#header .buttons button {
    height: 34px;
    width: 34px;
    background-color: #fbfbfa;
    padding: 8px;
    gap: 4px;
}

#header .buttons button span {
    width: 17px;
    height: 2px;
    border-radius: 4px;
    background-color: rgb(67 129 222);
}

#header .buttons button span:nth-child(2) {
    width: 12px;
}

.themeButton {
    padding: 8px 32px;
    border-radius: 8px;
    background-color: var(--color1);
    font-weight: 500;
    color: var(--black);
    transition: all ease .3s;
}



/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #929b69, #6fb3ca, #491349, #68596a, #5a2565);
    color: #333;
    line-height: 1.6;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* General Header Styles */
header {
    background: linear-gradient(135deg, #382047, #8f66a5);
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0; /* Ensure it starts from the left */
    width: 100vw; /* Ensure full width */
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Logo */

header h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: 2px;
    color: #fff;
}

/* Navigation */
nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #e6d389;
    color: #000;
}

/* Hamburger Menu for Mobile */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Hide Header on Scroll Down, Show on Scroll Up */
.hidden-header {
    top: -80px;
}

#projects p {
    color: white;
}

/* Sections */
section {
    padding: 40px;
    max-width: 1300px;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 30px;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    border-bottom: 3px solid #ffcc00;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #5a2565;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Profile Section */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Ensures proper layout on smaller screens */
    gap: 100px;
    text-align: left;
}

#about {
    padding-top: 100px; /* Push About section down */
}

.about-content p {
    text-align: justify;  /* Aligns text evenly on both sides */
    line-height: 1.6;  /* Improves readability */
    font-size: 14px;  /* Adjust font size for better visibility */
    margin: 0 auto;  /* Centers the text block */
    max-width: 800px;  /* Restricts width for a clean look */
}


.profile-pic {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffcc00;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
    transform: scale(1.1);
}



/* Projects */
.project {
    background: linear-gradient(135deg, #523a66, #9fa29c);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project a {
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #1e3a8a;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.project h3{
    margin-bottom: 15px;
}

.project a:hover {
    background: #e6d389;
    color: #000;
}

/* Skills */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgba(183, 142, 178, 0.2);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Certificates */
#certificates {
    text-align: center;
}

.certificate-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.certificate {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 400px;
}

.certificate img {
    width: 100%;
    border-radius: 5px;
}

.certificate:hover {
    transform: scale(1.05);
}

/* Contact */
#contact {
    text-align: left;
}

#contact a {
    color: #1e3a8a;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#contact a:hover {
    color: #977f22;
    text-decoration: underline;

}

}

.contact p {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
}


/* Manual sizes for icons */
.insta-icon {
    width: 27px;
    height: 22px;
    padding-left: 4px;
}

.email-icon {
    width: 30px;
    height: 28px;
    padding-left: 2px;
}

.linkedin-icon {
    width: 30px;
    height: 22px;
    padding-left: 4px;
}



/* Footer */
footer {
    background: linear-gradient(135deg, #382047, #8f66a5);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    /* font-weight: bold; */
    letter-spacing: 1px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    nav ul li a:hover{
        padding: 10px 16px ;
        background-color: white;
        background-color: #4380d0;
        border-radius: 10px;
        
    }


}
@media screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #about {
        flex-direction: column;
        text-align: center;
    }

   

    .certificate-grid {
        flex-direction: column;
        align-items: center;
    }

    .certificate {
        width: 90%;
    }

    section {
        padding: 30px;
    }
}

@media screen and (max-width: 480px) {
    

    section {
        padding: 20px;
    }

    h2 {
        font-size: 1.2rem;
    }


}
@media screen and (max-width: 375px) {
    

  footer p{
font-size: 14px;
  }

}

.buttons{
    display: none !important;
}

/* E-Books Section */
#ebooks {
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
    border-radius: 15px;
    margin-bottom: 30px;
}

.ebook-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.ebook {
    background: #E3F2FD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.ebook img {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
}

.ebook h3 {
    color: #0D47A1;
    margin-top: 10px;
}

.ebook p {
    font-size: 14px;
    color: #555;
}

.ebook a {
    display: block;
    background: #d4dde5;
    color: #050505;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    width: max-content;
    margin: auto;
    margin-top: 16px;
}

.ebook {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.ebook:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-preview-download {
    text-decoration: none;
    background-color: #4CAF50; 
    color: rgb(255, 255, 255); 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
  }
  
  
  .btn-preview-download:hover {
    background: #e6d389;
    color: black; 
  }
  
.wrapper{
    padding-inline: 10px;
}


.text-white {
    margin-top: 2px;
    margin-bottom: 2px;
}



.btn-buy {
  display: inline-block;
  margin-top: 6px;
  padding: 8px 14px;
  background: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn-buy:hover {
  background: #e63946;
}


